

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}

 
   
body{
   background-image:url(mapa.jpg) ;
   background-size: cover; 
   background-position: center ;
   height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.caixa-maior{
    background-color: #000000f2;
    width: 450px;
    border-radius: 10px;
    padding: 20px;
}
.input-texto{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    resize: none;/* impede o redimensionamento da caixa de texto */
    background-color: #ffffff1a;
    color: #ffffff;
}
.idioma{
    width:100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #ffffff1a;
    color: #ffffff;

}
option{
    background-color: #000000f2;
    color: #ffffff;
}
button{
    background-color: #ffffff1a;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;/* espaçamento entre os botões */
    cursor: pointer;/* muda o cursor ao passar sobre o botão */
}
.controle{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.resultado{
   padding: 15px;
   background-color: #ffffff1a;
   border-radius: 15px;
}
.titulo{
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
}
.traducao{
    background-color: ffffff;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    overflow-y: auto; /* Adiciona barra de rolagem vertical se o conteúdo exceder a altura */
}